* {font-family: 'Dosis', sans-serif;}
* a {text-decoration: none;}

ul { padding:0; margin:0 }

li {
    list-style: none;
    margin: 0;
    border-bottom: 1px solid #a3abac;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    line-height: 24px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

li:last-child {
    border-bottom: 0px;
}

li:hover {
    background: #a3abac;
    color: #fff;
}

li:hover a {
    color: #fff;
}

.logo {
    width: 90px;
    height: 80px;
    position: relative;
    left: 0;
    z-index: 1000;
}

li a {
    color: #000;
    text-decoration:none;
    font-size:12px;
    width: 100%;
    display: block;
    padding: 13px;
}

li a:hover {
    text-decoration:none;
}

h1 {
    font-size: 20px;
    height: 65px;
    line-height: 65px;
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    background: #396eb5;
    color: #fff ;
    margin: 0px !important;
}
a h2 {
    font-size: 16px;
    text-align: center;
    height: 20px;
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    background: #a3abac;
    color: #fff ;
    margin: 0px !important;
    padding: 5px 0px;
    text-decoration: none;
}

div#content{
    width: 300px;
    height:300px;
    overflow: auto;
    float: right;
    padding:0px;
    overflow-x: hidden;
}
