ul { padding:0; margin:0 }
li {
    list-style: none;
    margin: 0;
    border-bottom: 1px solid #a3abac;
    font-family: dosis;
    font-size: 18px;
    line-height: 24px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

li:last-child { border-bottom: 0px; }
li:hover { background: #a3abac; color: #fff; }
li:hover a { color: #fff; }

a {
    color: #000;
    text-decoration:none;
    font-size:12px;
    width: 100%;
    display: block;
    padding: 13px;
}

a:hover { text-decoration:none; }

h1 {
    font-size: 26px;
    text-align: center;
    height: 60px;
    line-height: 67px;
    font-family: bebasneuelight;
    background: #396eb5;
    color: #fff ;
    margin: 0px !important;
    padding: 0px;
}

div#content{
    width: 300px;
    height:400px;
    overflow: auto;
    float: right;
    padding:0px;
    overflow-x: hidden;
}
