div#agd-widget {
  width: 300px !important;
  border: 1px solid #A3ABAC;
  height: 400px;
  overflow: hidden;
  font-family: 'Dosis'; }
  div#agd-widget a {
    text-decoration: none; }
  div#agd-widget div#agd-header {
    height: 65px !important;
    background: #396eb5; }
    div#agd-widget div#agd-header div#agd-logo {
      width: 56px;
      float: left;
      height: 65px; }
      div#agd-widget div#agd-header div#agd-logo a img {
        width: 53px;
        height: 53px;
        padding: 5px;
        border-radius: 1000px;
        background: #FFF; }
    div#agd-widget div#agd-header h1#agd-txt {
      width: 237px;
      float: right;
      color: #FFF;
      font-size: 21px;
      text-transform: uppercase; }
  div#agd-widget div#agd-special {
    height: 296px; }
    div#agd-widget div#agd-special.hidden {
      display: none; }
    div#agd-widget div#agd-special div#s-header {
      border-bottom: 1px solid #A3ABAC;
      height: 39px;
      width: 290px;
      margin: 0px auto; }
      div#agd-widget div#agd-special div#s-header div#date {
        float: left;
        width: 260px; }
      div#agd-widget div#agd-special div#s-header div#close {
        width: 15px;
        float: right; }
        div#agd-widget div#agd-special div#s-header div#close i {
          color: #396eb5;
          float: right;
          border: 2px solid #396eb5;
          border-radius: 20px;
          z-index: 9999;
          padding: 3px;
          margin: 8px;
          cursor: pointer; }
    div#agd-widget div#agd-special div#content {
      width: 290px;
      margin: 2px auto; }
      div#agd-widget div#agd-special div#content div.titre {
        text-align: center; }
      div#agd-widget div#agd-special div#content div#image {
        width: 286px;
        margin: 2px; }
        div#agd-widget div#agd-special div#content div#image img, div#agd-widget div#agd-special div#content div#image table {
          width: 100%; }
        div#agd-widget div#agd-special div#content div#image td.heure {
          text-align: right; }
      div#agd-widget div#agd-special div#content div#extra {
        width: 100%;
        text-align: center;
        margin: 15px 0 0 0; }
        div#agd-widget div#agd-special div#content div#extra a {
          color: #FFF;
          background: #A3ABAC;
          padding: 3px 8px; }
  div#agd-widget div#agd-liste {
    height: 294px;
    width: 280px;
    margin: 2px auto;
    overflow: auto; }
    div#agd-widget div#agd-liste li {
      font-size: 14px;
      list-style: none;
      height: 39px;
      padding: 3px 0;
      border-bottom: 1px solid #A3ABAC;
      overflow: hidden; }
      div#agd-widget div#agd-liste li a {
        color: #000; }
      div#agd-widget div#agd-liste li:hover {
        cursor: pointer;
        color: #396eb5; }
        div#agd-widget div#agd-liste li:hover a {
          color: #396eb5; }
      div#agd-widget div#agd-liste li table {
        width: 100%; }
        div#agd-widget div#agd-liste li table tr td div.date {
          float: left;
          text-align: left;
          width: 48%; }
        div#agd-widget div#agd-liste li table tr td div.heure {
          float: right;
          text-align: right;
          width: 48%; }
  div#agd-widget div#agd-footer {
    height: 41px;
    color: #FFF;
    background: #396eb5;
    text-transform: uppercase;
    text-align: center; }
    div#agd-widget div#agd-footer h2 {
      margin: 0;
      padding-top: 3px; }
    div#agd-widget div#agd-footer a {
      color: #FFF;
      margin-top: 3px; }
